<%= form_tag analyze_path, method: :get, class: "ui form" do %>
  <%= text_area_tag :content, params[:content] %><br/>
  <br/>
  <button class="ui fluid primary button">
    <i class="search icon"></i>
    Analyze
  </button>
<% end %>

<% if params[:content].present? %>
  <div class="ui sizer vertical segment container">
    <div class="ui huge header center aligned red">
      <%= $analyzer.get_sentiment(params[:content]).humanize %> | 
      <%= $analyzer.get_score(params[:content]).round(3) %>
    </div>
  </div>
  
<% end %>
