<%= render 'cluste_form' %>
<br>
<div class="divider"></div>
<div class="card">
  <h3 class="orange-text center">
    <%= @sentiment ? @sentiment.titleize : 'Choose parameters to minning' %>
  </h3>
</div>