<div class="ui piled segment">
  <h3 class="ui header center aligned">
    <%= link_to camera.name, camera %> | <%= camera.reviews_avg %>
  </h3>

  <div class="comment">
    <div class="comments">
      <%= render partial: 'reviews/review', collection: camera.reviews.limit(3),
        cached: true %>
    </div>
  </div>
</div>
