<div class="comment">
  <div class="content">
    <a class="author"><%= review.sentiment.humanize %></a>
    <div class="metadata">
      <span class="date"><%= review.score %></span>
    </div>
    <div class="text"><%= raw truncate(review.body, length: 300).html_safe %></div>
  </div>
</div>
